.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3F9BBF;
}

.content-copyright {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-copyright p {
    color: #F6F2F1;
}