.config {
    background-color: #3F9BBF;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.config h1 {
    font-size: 56px;
    color: #F1F4F6;
}