.menu ul {
    display: flex;
    list-style: none;
}

.link-nav {
    padding: 16px 32px;
    text-decoration: none;
    color: #1F67A6;
    transition: .2s;
}

.link-nav:hover {
    padding: 16px 32px;
    text-decoration: none;
    color: #0c4374;
    transition: .2s;
}

.btn-nav {
    text-decoration: none;
    padding: 16px 64px;
    border-radius: 32px;
    border: none;
    background-color: #1F67A6;
    color: #F1F4F6;
    text-transform: uppercase;
    transition: .2s;
}

.btn-nav:hover {
    background-color: #3F9BBF;
    transition: .2s;
}