.background {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}