.footer {
    width: 100%;
    background-color: #3F9BBF;
    display: flex;
    justify-content: center;
}

.content-footer {
    width: 100%;
    padding: 48px 0;
    display: flex;
    color: #F6F2F1;
}

.content-left,
.content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content-left h1,
.content-right h1 {
    margin-bottom: 32px;
}

.content-right {
    padding-left: 48px;
}

.content-right ul {
    list-style: none;
}

.content-right ul li {
    padding: 8px 0;
}

.content-right ul li:first-child {
    padding: 0 0 8px;
}