@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px 'Open Sans', sans-serif;
    background-color: #F1F4F6;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 14px 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    display: flex;
}

::placeholder {
    font-size: 14px;
    color: rgb(72, 79, 82, .4);
}