.header {
    width: 100%;
    background-color: #F1F4F6;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.logo img {
    height: 70px;
}

.content-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}